In [9]:
# Author: Irshal Firdeansyah
# Github: github.com/irlfdyh

In [10]:
# IMPORT REQUIRED LIBRARIES

# std libs for classification
import pandas as pd
import numpy as np

# naive bayes for machine learning
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.utils.multiclass import unique_labels
from sklearn.preprocessing import LabelBinarizer, OneHotEncoder, LabelEncoder, OrdinalEncoder

# visualization libs
from sklearn.metrics import accuracy_score, confusion_matrix
import matplotlib.pyplot as plt

In [11]:
filepath = 'dataset/bankfull01.csv'
text = pd.read_csv(filepath, header=0, delimiter=';', encoding='utf-8')
df = pd.DataFrame(text)
df

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,495,39,admin.,single,secondary,no,0,yes,no,unknown,6,may,174,2,-1,0,unknown,no
496,496,39,blue-collar,divorced,secondary,no,42,yes,no,unknown,6,may,226,2,-1,0,unknown,no
497,497,50,blue-collar,divorced,secondary,no,41,yes,no,unknown,6,may,190,1,-1,0,unknown,no
498,498,44,blue-collar,married,secondary,no,-99,yes,no,unknown,6,may,111,2,-1,0,unknown,no
499,499,37,technician,single,secondary,no,17,yes,no,unknown,6,may,164,1,-1,0,unknown,no

In [12]:
# Get X Target
x_target = df.drop(['id', 'y'], axis=1)
x_target

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,39,admin.,single,secondary,no,0,yes,no,unknown,6,may,174,2,-1,0,unknown
496,39,blue-collar,divorced,secondary,no,42,yes,no,unknown,6,may,226,2,-1,0,unknown
497,50,blue-collar,divorced,secondary,no,41,yes,no,unknown,6,may,190,1,-1,0,unknown
498,44,blue-collar,married,secondary,no,-99,yes,no,unknown,6,may,111,2,-1,0,unknown
499,37,technician,single,secondary,no,17,yes,no,unknown,6,may,164,1,-1,0,unknown

In [13]:
# Get Y Target
y_target = df['y']
y_target

0      no
1      no
2      no
3      no
4      no
       ..
495    no
496    no
497    no
498    no
499    no
Name: y, Length: 500, dtype: object

In [14]:
# Encode data

encoder = OrdinalEncoder()
x = encoder.fit_transform(x_target)
x

array([[36.,  4.,  1., ...,  0.,  0.,  0.],
       [22.,  9.,  2., ...,  0.,  0.,  0.],
       [11.,  2.,  1., ...,  0.,  0.,  0.],
       ...,
       [28.,  1.,  0., ...,  0.,  0.,  0.],
       [22.,  1.,  1., ...,  0.,  0.,  0.],
       [15.,  9.,  2., ...,  0.,  0.,  0.]])